<div class="price">
    <div class="price_header">
      <h3>Ready to get started?</h3>
      <a href="#">View all pricing plans</a>
    </div>
    <div class="price_content">
      <div class="price_singal_card">
        <h5>Basic</h5>
        <p>For teams and developers</p>
        <span><span>$0</span>/month</span>
        <a href="#">Join for free</a>
      </div>
      <div class="price_singal_card">
        <h5>Team</h5>
        <p>Advanced collaboration and support for teams</p>
        <span><span>$2</span>/user/month</span>
        <a href="#">Continue with teame</a>
      </div>
      <div class="price_singal_card">
        <h5>Enterprise</h5>
        <p>Security and flexible deployment</p>
        <span><span>$40</span>/user/month</span>
        <a href="#">Contact Sales</a>
      </div>
    </div>
  </div>