<div class="row row-cols-1 row-cols-sm-3">
  <div
    class="col mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="card cardVertical zoom">
      <div class="card-header" style="clear: both">
        <h3 style="float: left">Adventure</h3>
        <i class="categories-more-right" (click)="clickedExplore(1)"> More</i>
      </div>
      <img
        class="card-img-top"
        src="https://images.unsplash.com/photo-1529180979161-06b8b6d6f2be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          A journey of a thousand miles must begin with a single step.
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(1)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 2 -->

  <div
    class="col mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
    data-aos-duration="3000"
  >
    <div class="card cardVertical zoom">
      <div class="card-header">
        <h3 style="float: left">Bussiness</h3>
        <i class="categories-more-right" (click)="clickedExplore(2)"> More</i>
      </div>

      <img
        class="card-img-top"
        src="https://i.pinimg.com/564x/42/8f/28/428f28de525ea9384046d21634f81c9e.jpg"
        style="width: 100%"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          Good tactics can save even the worst strategy. Bad tactics will
          destroy even the best strategy.
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(2)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 3 -->

  <div
    class="col mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="top-center"
    data-aos-duration="3000"
  >
    <div class="card cardVertical zoom">
      <div class="card-header">
        <h3 style="float: left">Crime</h3>
        <i class="categories-more-right" (click)="clickedExplore(3)"> More</i>
      </div>
      <img
        class="card-img-top responsive"
        src="http://i.imgur.com/YSsnZJ1.jpg "
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          Well, who doesn't love a bizarre true crime story?
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(3)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 4 -->

<div
  class="col mt-5 d-flex justify-content-center"
  data-aos="zoom-in-up"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="3000"
>
  <div class="card categories-div-card">
    <div class="card-header">
      <h3 style="float: left">Biography</h3>
      <i class="categories-more-right" (click)="clickedExplore(4)"> More</i>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/81VStYnDGrL.jpg"
          class="horizontal-card"
          alt=""
        />
      </div>

      <div class="col-md-8">
        <h5 class="mt-5 text-center adventure-h6-caption">
          “Sometimes when you innovate, you make mistakes. It is best to admit
          them quickly, and get on with improving your other innovations.”
          <br />
          <span class="spanWriter"> ― Steve Jobs </span>
        </h5>

        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(4)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 5 -->

<div class="row row-cols-1 mt-5 row-cols-sm-3">
  <div
    class="col mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="top-center"
    data-aos-duration="3000"
  >
    <div class="card cardVertical zoom" style="width: 100%">
      <div class="card-header">
        <h3 style="float: left">Humour</h3>
        <i class="categories-more-right" (click)="clickedExplore(5)"> More</i>
      </div>
      <img
        class="card-img-top"
        src="https://prod-images.tcm.com/Master-Profile-Images/CharlieChaplin.jpg?w=824"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          Life is a tragedy when seen in close-up, but a comedy in long-shot.
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(5)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
    data-aos-duration="3000"
  >
    <div class="card cardVertical zoom" style="width: 100%">
      <div class="card-header">
        <h3 style="float: left">Literature</h3>
        <i class="categories-more-right" (click)="clickedExplore(6)"> More</i>
      </div>
      <img
        class="card-img-top"
        src="https://www.thoughtco.com/thmb/wr2IsoxWYdOlYgxsWICFyyz2MZY=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Literature-58dbebe33df78c516240e71f.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          All we have to decide is what to do with the time that is given to us
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(6)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- 7 -->

  <div
    class="col mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="card cardVertical zoom" style="width: 100%">
      <div class="card-header">
        <h3 style="float: left">Politics</h3>
        <i class="categories-more-right" (click)="clickedExplore(7)"> More</i>
      </div>
      <img
        class="card-img-top"
        src="../../assets/pngfind.com-modi-png-images-2701282.png"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          "I alone cannot change the world, but I can cast a stone across the
          water to create many ripples."
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(7)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 8 -->

<app-products></app-products>

<div class="col d-flex mt-5 justify-content-center">
  <div class="card categories-div-card zoom" data-aos="zoom-in-up">
    <div class="card-header">
      <h3 style="float: left">Computing</h3>
      <i class="categories-more-right" (click)="clickedExplore(8)"> More</i>
    </div>
    <div class="row">
      <div class="col-md-7">
        <h5 class="mt-5 text-center adventure-h6-caption">
          Hackers Write About 6,000 New Viruses Each Month.These viruses are
          designed to target a wide selection of operating systems, so learning
          to avoid viruses and malware is essential!
        </h5>

        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(8)">
            Explore Now
          </button>
        </div>
      </div>
      <div class="col-md-5">
        <img
          src="https://media.istockphoto.com/photos/in-laboratory-scientist-wearing-virtual-reality-headset-sitting-in-a-picture-id925425860?k=6&m=925425860&s=612x612&w=0&h=zkovcl3H8MRuQCSluyQsXyiP5CJBo2MGzkbnTbX2ouQ="
          width="100%"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 mt-5 row-cols-md-3">
  <div
    class="col mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="card cardVertical zoom" style="width: 100%">
      <div class="card-header">
        <h3 style="float: left">Romance</h3>
        <i class="categories-more-right" (click)="clickedExplore(9)"> More</i>
      </div>
      <img
        class="card-img-top"
        src="http://www.goodmorningimagesdownload.com/wp-content/uploads/2020/10/Romantic-Whatsapp-DP-Images-Pics-In-Full-HD.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          It only takes up to 4 minutes to decide whether you like someone or
          not
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(9)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col mt-5"
    data-aos="fade-up "
    data-aos-anchor-placement="center-bottom"
    data-aos-duration="3000"
  >
    <div class="card cardVertical zoom" style="width: 100%">
      <div class="card-header">
        <h3 style="float: left">Science</h3>
        <i class="categories-more-right" (click)="clickedExplore(10)"> More</i>
      </div>
      <img
        class="card-img-top"
        src="https://miro.medium.com/max/1000/1*ND321Bsb4419rr8SF71iAg.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          Science is the pursuit and application of knowledge and understanding
          of the natural and social world following a systematic methodology
          based on evidence.
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(10)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col mt-5"
    data-aos="fade-up"
    data-aos-anchor-placement="top-center"
    data-aos-duration="3000"
  >
    <div class="card cardVertical zoom" style="width: 100%">
      <div class="card-header">
        <h3 style="float: left">Fiction</h3>
        <i class="categories-more-right" (click)="clickedExplore(11)"> More</i>
      </div>
      <img
        class="card-img-top"
        src="https://mcdn.wallpapersafari.com/medium/23/41/AsPqGV.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="mt-5 card-text adventure-h6-caption">
          "I believe in the resistance as I believe there can be no light
          without shadow; or rather, no shadow unless there is also light."
        </h5>
      </div>
      <div class="card-footer border-0 bg-white">
        <div class="text-center w-100">
          <button class="categories-button-button" (click)="clickedExplore(11)">
            Explore Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
