



<!-- <div class="top " style="height: 30px; width: 100px;"></div> -->
<div class="con">

<!-- <script src="https://kit.fontawesome.com/783b858c89.js" crossorigin="anonymous"></script> -->
<section>
      
  <h1 class="login-h1-quote">Welcome <br> to Magic World</h1>

    <form [formGroup]="form" >


      
    
      
     
  <div class="card">

    <div class="content">
      <h2>Get Started!</h2>
 
      <div class="form-check d-block " *ngFor="let list of lists" >
        
       <input type="radio" name ="User" value="{{list}}" class="me-3 " formControlName="User" >
       <label> {{list}}</label>
      </div> 



  
      <div class="user">
        <input type="text" placeholder="Username" name="username" formControlName="username" >
    
      </div>
      <div class="pass">
        <input type="password" placeholder="Password" name ="password" formControlName="password">
      </div>
      <div class="else">
        <input id="remember" type="checkbox">
        <label for="remember">Remember me</label>
        <span>Forgot password?</span>
        <br>
  

      </div>
      <a routerLink="" class="ms-5" (click)="redirectRegister()">New User!</a>
      <input type="submit"  class="button button1  showtoast" (click)="loginData()"  value="LOGIN">
    </div>

  </div>

</form>
</section>



  <div class="login-div-patch">



  </div>

</div>