<!-- <div class="scrolling-wrapper">
    <div class="card-wrap m-1"  *ngFor="let biography of biographyBooksFromdb">
      <div class='newsCard news-Slide-up mt-0'>
        <img [src]=biography.product_image/>
        <div class='newsCaption'>
          <h2 class='newsCaption-title h2'>{{biography.prod_name}}</h2>
          <p class="text-white fw-bold mt-1"><em> Author: {{ biography.author}} </em></p>
          <p class='newsCaption-content'>
            {{biography.prod_desc}}
          </p>
          <p><a class='newsCaption-link' href='#'>READ MORE</a>  ></p>  
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </div> -->