
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
  <div class="carousel-item active">
      <picture>
                   <!-- media queries -->
                   <source media="(max-width: 1024px)" srcset="../../assets/blurbook.JPEG">
                   <img  media="(min-width:1025px)" src="../../assets/book.JPEG" height="600px" width="100%"/>
               
               
               <!-- content -->
               <div class="card-img-overlay m-md-5 mt-5 p-md-5">
                <h1 class="fw-bold corosalTitleHead" style="color:  darkblue;" >Best of Biographies</h1>
                <p class="card-text mt-5  h3">“Always live your life with your <br> biography in mind.”
                 <br>
                  ― Marisha Pessl</p>
                <button class="btn btn-info text-light" routerLink="#" (click)="clickedExplore(4)" >READ MORE</button>
              </div>               
               
               
               
                  </picture>
  </div>
  <div class="carousel-item">
      <picture>
                   <!-- media queries -->
                   <source media="(max-width: 1024px)" srcset="../../assets/blurwoman.JPEG">
                   <img  media="(min-width:1025px)" src="../../assets/woman.JPEG" height="600px" width="100%" />



                    <!-- content -->
                    <div class="card-img-overlay m-md-5 mt-5  text-end">
                      <h1 class="fw-bold  corosalTitleHead" style="color: darkblue;" >Make love, Not war</h1>
                      <p class="card-text text-light corosalTitleHead h3">Reading reduces stress by 68 percent</p>
                         <div class="">
                      <button class="btn btn-info text-light"  (click)="clickedExplore(9)" routerLink="#">READ MORE</button>
                    </div>
                    </div>
               
     </picture>
  </div>
  <div class="carousel-item">
      <picture>
                    



                       
                   <source media="(max-width: 1024px)" srcset="../../assets/blurman.JPEG">
                   <img  media="(min-width:1025px)" src="../../assets/man.JPEG" height="600px" width="100%" />




                   <div class="card-img-overlay m-md-5 mt-5  text-end">
                    <h1 class="fw-bold  corosalTitleHead " style="color: darkblue;" >Owning your own <br> books matters</h1>
                    <p class="card-text text-dark h3">You’re more likely to learn <br> something new everyday if your read daily.</p>
                       <div class="">
                    <button class="btn btn-info text-light"  (click)="clickedExplore(2)" routerLink="#">READ MORE</button>
                  </div>
                  </div>
             
      </picture>
  </div>
</div>
<button class="  carousel-control-prev bs-0"  style="width: 5%; color: darkblue;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" style="width: 5%; color:darkblue" type="button" style="width: 5%;" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>

