<div class="popular-div-most ms-5 mt-5">

    
    <h1>Most Viewed</h1>
    


<div class="row row-cols-1 row-cols-sm-2 ">
        

    
    
 
    
    
            
    <div class="col ">
    
        <div class=" newsCard news-Slide-up">
            <img src="" />
            <div class='newsCaption'>
              <h2 class='newsCaption-title'>Title</h2>
              <p class='newsCaption-content'>
                Blurb to get reader hooked.
              </p>
              <p><a class='newsCaption-link' href='#'>READ MORE</a>  ></p> 
              
              <button class="btn btn-primary">Buy Now</button>
            </div>
          </div>
        </div>
        
        
        <div class="col">
        
          
        <div class='newsCard news-Slide-up'>
            <img src="" />
            <div class='newsCaption'>
              <h2 class='newsCaption-title'>Title</h2>
              <p class='newsCaption-content'>
                Blurb to get reader hooked.
              </p>
              <p><a class='newsCaption-link' href='#'>READ MORE</a>  ></p>  
              <button class="btn btn-primary">Buy Now</button>
  
            </div>
          </div>
        
        </div>
        
        
        
        <div class="col">
          
        <div class='newsCard news-Slide-up'>
            <img src="" />
            <div class='newsCaption'>
              <h2 class='newsCaption-title'>Title</h2>
              <p class='newsCaption-content'>
                Blurb to get reader hooked.
              </p>
              <p><a class='newsCaption-link' href='#'>READ MORE</a>  ></p>    
              <button class="btn btn-primary">Buy Now</button>

            </div>
          </div>
        </div>
        
      
    </div>
    
</div>