<div class="main">
  <div class="main__container">
    <!-- MAIN TITLE STARTS HERE -->

    <div class="main__title">
      <img src="" alt="" />
      <div class="main__greeting">
        <h1 class="h1">Hello, {{ username | uppercase }}</h1>
        <p>ID: 894874</p>
      </div>
    </div>

    <!-- MAIN TITLE ENDS HERE -->

    <!-- MAIN CARDS STARTS HERE -->
    <div class="main__cards">
      <div class="card">
        <i class="fa fa-user-o fa-2x text-lightblue" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Customers</p>
          <span class="font-bold text-title">578</span>
        </div>
      </div>

      <div class="card">
        <i class="fa fa-book fa-2x text-red" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Books Active</p>
          <span class="font-bold text-title">2467</span>
        </div>
      </div>

      <div class="card">
        <i class="fa fa-user-o fa-2x text-yellow" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Sellers</p>
          <span class="font-bold text-title">20</span>
        </div>
      </div>

      <div class="card">
        <i class="fa fa-thumbs-up fa-2x text-green" aria-hidden="true"></i>
        <div class="card_inner">
          <p class="text-primary-p">Reviews</p>
          <span class="font-bold text-title">645</span>
        </div>
      </div>
    </div>
    <!-- MAIN CARDS ENDS HERE -->

    <!-- CHARTS STARTS HERE -->
    <div class="charts">
      <div class="charts__left">
        <div class="charts_left_title">
          <div>
            <h1>Top Customers</h1>
          </div>
        </div>
        <div id="apex1"></div>
      </div>

      <div class="charts__right">
        <div class="charts_right_title">
          <div>
            <h1>Stats</h1>
          </div>
          <i class="fa fa-inr" aria-hidden="true"></i>
        </div>

        <div class="charts_right_cards">
          <div class="card1">
            <h1>Income</h1>
            <p>Rs.7,55,300</p>
          </div>

          <div class="card2">
            <h1>Sales</h1>
            <p>1124200</p>
          </div>

          <div class="card3">
            <h1>Users</h1>
            <p>13900</p>
          </div>

          <div class="card4">
            <h1>Orders</h1>
            <p>986545</p>
          </div>
        </div>
      </div>
    </div>
    <!-- CHARTS ENDS HERE -->
  </div>
</div>
