<div class="body align-items-center">
  <div class="card ">
    <div class="card-title mx-auto text-info">Payments</div>

    
      <span id="card-header">Saved cards:</span>
     
     
    
 
     
      <div class="" *ngFor="let card of savedCards ;index as i">
        <div class="form-check ">
            <input (click)="selectedCard(card)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
           <div class="row w-100">
                <div class="col-2">
                    <img
                      class="img-fluid"
                      src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
                    />
                  </div>
                  <div class="col-7" type="radio">
                    <input
                      type="text"
                      value="{{ card.displayName }}"
                      readonly
                      placeholder="* * ** 3193"
                    />
                    
                  </div>
                  <div class="col-3 d-flex">
                     <i (click)="deleteCard(i)" style="cursor: pointer;" class="fas fa-minus-circle text-danger ms-3 h3"></i>
                  </div>
                </div>
            </label>
          </div>
          
        </div>

       
         <div class="form-group" *ngIf="otpReceived ">
  
        
          <form #formOtp="ngForm" (ngSubmit)="confirmOtp(formOtp)"  >

       <input type="number" name="otp" placeholder="Enter OTP" class="form-control" ngModel id="otp">
       <button class="btn btn-success" type="sumbit"> Confirm  </button>
             <p *ngIf="incorrectOtp" class="text-danger fw-bold"> *Incorrect OTP </p>
    </form>
         </div>
       
         <p *ngIf="!displayAddCard" class="text-danger">*Note: Delete a card to add new</p> 
         <button class="btn btn-warning" *ngIf="displayAddCard" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Card</button>
            
    <button class="btn btn-success"  (click)="makePayment()" *ngIf="cardSelected && !otpReceived">  Make Payment </button>
      </div>

      
  </div>



<!--MODAL-->


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new card:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


         

            <form #ref="ngForm" (ngSubmit)="cardSave(ref)">
         
         
            <div class="row-1">
              <div class="row row-2">
                <span id="card-inner" for="cHname">Card holder name</span>
              </div>
              <div class="row row-2">
                <input type="text" name="cHname" placeholder="name" ngModel id="cHname" minlength="3" maxlength="20" #cHname="ngModel" pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$" required/>
                <div class="fw-bold input-valid" *ngIf=" cHname.touched && !cHname.valid">
                  <div class="text-danger" *ngIf="cHname.errors.required">card holder Name is required</div>
                  <div class="text-danger" *ngIf="cHname.errors.pattern">Invalid Name</div>
                  <div class="text-danger" *ngIf="cHname.errors.minlength || cHname.errors.maxlength">
                      Please enter field length in between 3 and 20
                  </div>
              </div>
              <p class="text-danger fw-bold" *ngIf="validity && !cHname.valid"> *required</p>
              </div>
            </div>
      
      
            <div class="row three">
             
             
              <div class="col-md-6">
                <div class="row-1">
                  <div class="row row-2">
                    <span id="card-inner" for="cNumber">Card number</span>
                  </div>
                  <div class="row row-2">
                    <input type="number" placeholder="number" name="cNumber" id="cNumber" ngModel minlength="16" maxlength="16" #cNumber="ngModel"  pattern="^[0-9]{16}$" required/>

                    <div class="fw-bold input-valid"
                    *ngIf=" cNumber.touched && !cNumber.valid">
                    <div class="text-danger" class="text-danger"
                        *ngIf="cNumber.errors.required">card number is required</div>
                    <div class="text-danger" class="text-danger"
                        *ngIf="cNumber.errors.pattern">Invalid card number</div>
                    <div class="text-danger" class="text-danger"
                        *ngIf="cNumber.errors.minlength || cNumber.errors.maxlength">
                        Please enter field length of 16 digits
                    </div>
                </div>

                <p class="text-danger fw-bold" *ngIf="validity && !cNumber.valid"> *required
                </p>
                  </div>
                </div>
              </div>
      
      
              <div class="col-md-3">
                <div class="row-1">
                  <div class="row row-2"><span id="card-inner" for="exp">Exp</span></div>
                  <div class="row row-2">
                    <input type="text" placeholder="Exp date" id="exp" name="exp" ngModel #exp="ngModel" form-control pattern="^((0[1-9])|(1[0-2]))[\/\.\-]*(([0-9][1-9]))$" required/>


                    <div class="fw-bold input-valid" *ngIf=" exp.touched && !exp.valid">
                      <div class="text-danger" class="text-danger"
                          *ngIf="exp.errors.required">Exp is required</div>
                      <div class="text-danger" class="text-danger" *ngIf="exp.errors.pattern">Invalid exp Date</div>


                  </div>

                  <p class="text-danger fw-bold" *ngIf="validity && !exp.valid"> *required</p>

          
                  </div>
                </div>
              </div>
      
      
              <div class="col-md-3">
                <div class="row-1">
                  <div class="row row-2"><span id="card-inner" for="cvv">CVV</span></div>
                  <div class="row row-2">
                    <input type="number" placeholder="CVV" name="cvv" id="cvv" ngModel  minlength="3" maxlength="3" #cvv="ngModel" pattern="^[0-9]{3}$" required/>

                    <div class="fw-bold input-valid" *ngIf=" cvv.touched && !cvv.valid">
                      <div class="text-danger" class="text-danger" *ngIf="cvv.errors.required">cvv is required</div>
                      <div class="text-danger" class="text-danger" *ngIf="cvv.errors.pattern">Invalid cvv</div>
                      <div class="text-danger" class="text-danger"
                          *ngIf="cvv.errors.minlength || cvv.errors.maxlength">
                          Please enter 3 digits
                      </div>
                  </div>

                  <p class="text-danger fw-bold" *ngIf="validity && !cvv.valid"> *required</p>

                  </div>
                </div>
              </div>
      
            </div>
      
      
            <button type="submit" class="btn d-flex mx-auto"   ><b>Add card</b></button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            
          </form>

     
        </div>
       
      </div>
    </div>
  </div>